<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Questrial">
        <title>Historia individual</title>
        <link rel="stylesheet" href="../utils/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link href="../assets/img/icon.ico" rel="icon">

        <!-- Insert this line above script imports  -->
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            } 
        </script>
        <script src="../utils/jQuery/jquery-3.5.1.js"></script>
        <script>if (window.module) module = window.module;</script>

    </head>

    <body class="intro bg-image" style="background-image: url(../assets/img/bg-historia.jpg);">

        <div style="height: 50px;"></div>

        <div class="container" style="background-color: rgb(255, 255, 255, 0.8); height: auto;">
            <p class="titles" style="text-align: center; color: black;">Historia individual</p>
            <div class="row" style="margin-left: 20%;">
                <div class="col-md-8">
                    <h5 style="color: black; ">Buscar la hembra por el número de registro:</h5>
                </div>
            </div>
            <div class="row" style="margin-left: 20%;">
                <div class="col-md-8">
                    <select id="hembras_historia" class="font"></select>
                    <script src="../utils/lib/slimselect.js"></script>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" id="btn_historia">Buscar</button>
                </div>
            </div>
            <div style="height: 15px;"></div>
        </div>

        <div style="height: 50px;"></div>

        <div id="tabla_historia"></div>

        <div id="edit_num_reg" class="form-parto" style="width:30%; margin-left: auto; margin-right: auto;">
            <form style="color: black;">
                <div class="form-group" id="group_registro">
                    <label for="input_reg_parto">Número de registro</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">H-</div>
                        </div>
                        <input type="number" class="form-control" id="input_ed_reg" placeholder="Número de registro"
                            oninput="maxLengthCheck(this)" maxlength="3" min="1" max="999">
                    </div>
                    <script>
                        function maxLengthCheck(object) {
                            if (object.value.length > object.maxLength)
                                object.value = object.value.slice(0, object.maxLength)
                        }
                    </script>
                </div>
                <button id="btn_edit_reg" class="btn btn-secondary" style="margin-left:33%">Registrar parto</button>
            </form>
        </div>

        <script src="../js/historia.js"></script>

        <!-- Insert this line above script imports  -->
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            } 
        </script>

        <!-- normal script imports etc  -->
        <script src="../utils/popper/popper.min.js"></script>
        <script src="../utils/bootstrap/js/bootstrap.js"></script>

        <!-- Insert this line after script imports -->
        <script>if (window.module) module = window.module;</script>

    </body>

</html>