<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Questrial">
        <title>INVERGANADERAS</title>
        <link rel="stylesheet" href="../utils/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link href="../assets/img/icon.ico" rel="icon">
    </head>

    <body class="intro bg-image" style="background-image: url(../assets/img/bg.jpg);">
      <div class="overlay-itro"></div>
        <head>
            <div class="container">
              <div class="center-content">
                  <p class="titles">INVERGANADERAS</p>                
              </div>
              <div class="center-content" style="margin-top: 65px;">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group btn-group-lg mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary" onclick="location.href = 'listado.html';">Listado consecutivo</button>
                      </div>
                      <div class="btn-group btn-group-lg mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary" onclick="location.href = 'historia.html';">Historia individual</button>
                      </div>
                      <div class="btn-group btn-group-lg mr-2" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary" onclick="location.href = 'ventas.html';">Ventas</button>
                      </div>
                      <div class="btn-group btn-group-lg mr-2" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary" onclick="location.href = 'machos.html';">Machos</button>
                      </div>
                    </div>
              </div>
            </div>
        </head>

        <!-- Insert this line above script imports  -->
        <script>if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            } 
        </script>

        <!-- normal script imports etc  -->
        <script src="../utils/jQuery/jquery-3.5.1.js"></script>
        <script src="../utils/popper/popper.min.js"></script>
        <script src="../utils/bootstrap/js/bootstrap.js"></script>

        <!-- Insert this line after script imports -->
        <script>if (window.module) module = window.module;</script>

    </body>

</html>